pint>=0.14
xarray>=0.16.0
pooch
netCDF4
cf-xarray>=0.6
sphinx<4
ipython_genutils  # remove once there's a new `nbconvert` release
sphinx_rtd_theme
ipython
ipykernel
jupyter_client
nbsphinx
matplotlib
sphinx-autosummary-accessors
