name: CI Additional

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  doctests:
    name: Doctests
    runs-on: ubuntu-latest
    if: github.repository == 'xarray-contrib/pint-xarray'

    env:
      FORCE_COLOR: 3

    steps:
      - name: checkout the repository
        uses: actions/checkout@v4
        with:
          # need to fetch all tags to get a correct version
          fetch-depth: 0 # fetch all branches and tags

      - name: setup environment
        uses: prefix-dev/setup-pixi@8ca4608ef7f4daeb54f5205b20d0b7cb42f11143 # 0.8.14
        with:
          cache: true
          environments: "doctests"

      - name: import pint-xarray
        run: |
          pixi run -e doctests python -c 'import pint_xarray'

      - name: run doctests
        run: |
          pixi run -e doctests doctests
