name: CI Additional

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  doctests:
    name: Doctests
    runs-on: ubuntu-latest
    if: github.repository == 'xarray-contrib/pint-xarray'

    env:
      FORCE_COLOR: 3

    steps:
      - name: checkout the repository
        uses: actions/checkout@v6
        with:
          # need to fetch all tags to get a correct version
          fetch-depth: 0 # fetch all branches and tags

      - name: setup environment
        uses: prefix-dev/setup-pixi@a0af7a228712d6121d37aba47adf55c1332c9c2e # 0.9.4
        with:
          environments: "ci-py313"

      - name: import pint-xarray
        run: |
          pixi run -e ci-py313 python -c 'import pint_xarray'

      - name: run doctests
        run: |
          pixi run -e ci-py313 doctests
