name: CI Additional

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  doctests:
    name: Doctests
    runs-on: ubuntu-latest
    if: github.repository == 'xarray-contrib/pint-xarray'
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-py${{ matrix.python-version }}-
    - name: upgrade pip
      run: |
        python -m pip install --upgrade pip
    - name: install dependencies
      run: |
        python -m pip install -r ci/requirements.txt
    - name: install pint-xarray
      run: |
        python -m pip install .
    - name: show versions
      run: |
        python -c 'import pint_xarray'
    - name: run doctests
      run: |
        python -m pytest --doctest-modules --ignore pint_xarray/tests
