name: Upload Package to PyPI

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.repository == 'xarray-contrib/pint-xarray'
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install build twine
      - name: Build
        run: |
          python -m build --sdist --wheel --outdir dist/ .
      - name: Check the built archives
        run: |
          twine check dist/*
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@f5622bde02b04381239da3573277701ceca8f6a0
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
          repository_url: https://upload.pypi.org/legacy/
